- title 'Admin | Edit Comment', true
= render layout: 'layouts/partials/admin_page', locals: {page_title: 'Edit Comment', back_path: admin_comments_path} do
  .xw-admin-form
    = form_with model: @comment, url: url_for(controller: 'admin/comments', action: :update), html: { class: 'xw-grid' } do |f|
      .xw-col-12.xw-lg-8
        = f.label :content
        = f.text_field :content
      .xw-col-12.xw-lg-4
        = f.label :flagged
        = f.check_box :flagged
      .xw-col-full
        = f.button class: 'xw-btn xw-btn--success', data: {disable_with: 'Updating...'}
