- title 'Admin | Comments', true
= content_for :head do
  = stylesheet_link_tag :pagination
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Comments'} do
  = will_paginate @comments, class: 'smaller pagination'
  = render partial: 'comments/partials/comments'