/ If the crossword is published, links to it solution choice page. If unpublished, links to its edit page.
= link_to ((defined?(unpublished)) && (unpublished == true) ? edit_crossword_path(crossword) : solution_choice_crossword_path(crossword)) do
  .large-3.columns.result-crossword
    .row
      .large-4.columns.minipic
        = image_tag crossword.preview, class: 'shadow thin-border', style: 'max-width: none;'
      .large-8.columns.metadata
        %p.title= crossword.title.html_safe
        %p.byline= "by #{crossword.user.display_name}"
        %p.dimensions= "#{crossword.rows} x #{crossword.cols}"
    =link_to root_path do
      -# %i.fi-refresh.foundation