= link_to crossword do
  .large-3.columns.result-crossword
    .row
      .large-4.columns.minipic
        = render partial: 'crosswords/partials/mini_pic_canvas', locals: {cw: crossword}
      .large-8.columns.metadata
        %p.title= crossword.title
        %p.byline= "by #{crossword.user.display_name}"
        %p.dimensions
          = "#{crossword.rows} x #{crossword.cols}"