/ If the crossword is published, links to it solution choice page. If unpublished, links to its edit page.
- unpublished = (defined?(unpublished) && unpublished == true)
= link_to (unpublished ? edit_unpublished_crossword_path(cw) : solution_choice_crossword_path(cw)) do
  .large-3.columns.result-crossword
    .row
      .large-4.columns.minipic
        = image_tag cw.preview_url || asset_path('example_puzzle.jpg'), class: "shadow thin-border cols-#{cw.cols} rows-#{cw.rows}#{'unpublished' if unpublished}"
      .large-8.columns.metadata
        %p.title= cw.title.html_safe
        - unless unpublished or cw.user.nil? or (cw.user.username == 'nytimes')
          %p.byline= "by #{cw.user.display_name}"
        %p.dimensions= "#{cw.rows} x #{cw.cols}"
      - if (cw.user&.username == 'nytimes')
        = image_tag 'nyt_black.png', class: 'nyt-watermark'
