%table
  %thead
    %tr
      %th ID
      %th Title
      %th Creator
      %th Published
      %th Date Published
      %th Description
      %th Rows
      %th Columns
      %th Letters
      %th Circled?
      %th
      %th
  %tbody
    - @crosswords.each do |crossword|
      = content_tag_for(:tr, crossword) do
        %td= link_to crossword.id, crossword.published? ? crossword : edit_crossword_path(crossword)
        %td= link_to crossword.title, crossword.published? ? crossword : edit_crossword_path(crossword)
        %td= link_to crossword.user.username, crossword.user
        %td= crossword.published ? 'T' : 'F'
        %td= crossword.date_published ? crossword.date_published.strftime('%m/%d/%y') : 'N/A'
        %td{style: 'font-size: 6px; max-width: 250px; overflow-wrap: break-word;'}= crossword.description
        %td= crossword.rows
        %td= crossword.cols
        %td{style: 'font-size: 6px; max-width: 250px; overflow-wrap: break-word;'}= crossword.letters
        %td= crossword.circled ? 'T' : 'F'
        %td
          = link_to edit_admin_crossword_path(crossword) do
            %i.fi-pencil
        %td
          = link_to admin_crossword_path(crossword), method: :delete, remote: true, data: {confirm: "Are you SURE you want to delete '#{crossword.title}' by #{crossword.user.username}?"} do
            %i.fi-trash