%table.xw-admin-table
  %thead
    %tr
      %th ID
      %th Title
      %th Creator
      %th Description
      %th Rows
      %th Cols
      %th Letters
      %th Circled?
      %th
  %tbody
    - @crosswords.each do |crossword|
      = content_tag(:tr, id: dom_id(crossword)) do
        %td= link_to crossword.id, crossword
        %td= link_to crossword.title, crossword
        %td= (crossword.user && !crossword.user.deleted?) ? link_to(crossword.user.username, crossword.user) : '[Deleted Account]'
        %td.xw-admin-cell--compact= crossword.description
        %td= crossword.rows
        %td= crossword.cols
        %td.xw-admin-cell--compact= crossword.letters
        %td.xw-admin-cell--icon
          - if crossword.circled?
            = icon('check')
        %td.xw-admin-actions
          = link_to edit_admin_crossword_path(crossword) , class: 'xw-admin-action' do
            = icon('pencil')
          = link_to admin_crossword_path(crossword), class: 'xw-admin-action xw-admin-action--danger', data: { turbo_method: :delete, turbo_confirm: "Are you SURE you want to delete '#{crossword.title}' by #{crossword.user&.display_name || '[Deleted Account]'}?" } do
            = icon('trash-2')
