%table
  %thead
    %tr
      %th
      %th ID
      %th Title
      %th Creator
      %th Published
      %th Date Published
      %th Description
      %th Rows
      %th Columns
      %th Letters
      %th Circled?
  %tbody
    - @crosswords.each do |crossword|
      = content_tag_for(:tr, crossword) do
        %td
          = link_to crossword, method: :delete, remote: true, data: {confirm: "Are you sure you want to delete #{crossword.title} by #{crossword.user.username}"} do
            %i.fi-trash
        %td= crossword.id
        %td= link_to crossword.title, crossword
        %td= link_to crossword.user.username, crossword.user
        %td= crossword.published ? 'T' : 'F'
        %td= crossword.date_published ? crossword.date_published.strftime('%m/%d/%y') : 'N/A'
        %td{style: 'font-size: 6px; max-width: 300px; overflow-wrap: break-word;'}= crossword.description
        %td= crossword.rows
        %td= crossword.cols
        %td{style: 'font-size: 6px; max-width: 300px; overflow-wrap: break-word;'}= crossword.letters
        %td= crossword.circled ? 'T' : 'F'