%table#crossword{:'data-id' => @crossword.id, :'data-rows' => @crossword.rows, :'data-cols' => @crossword.cols, :'data-auth-token' => form_authenticity_token}
  - for r in 1..@crossword.rows
    %tr{:'data-row' => r}
      - row_start = (r-1)*@crossword.cols
      - row_end = row_start + @crossword.cols-1
      - @cells[row_start..row_end].each do |cell|
        = render(partial: 'cells/partials/edit_cell', :locals => {:cell => cell})

.clue_column
  Across
  %ol.clues
    - @cells.zip(@across_clues).each do |cell, clue|
      = content_tag_for(:li, clue, :'data-cell-id' => cell.id, class: "across-clue #{'hidden' unless cell.is_across_start?}") do
        = "#{cell.cell_num}. "
        = text_field_tag nil, clue.content

.clue_column
  Down
  %ol.clues
    - @cells.zip(@down_clues).each do |cell, clue|
      = content_tag_for(:li, clue, :'data-cell-id' => cell.id, class: "down-clue #{'hidden' unless cell.is_down_start?}") do
        = "#{cell.cell_num}. "
        = text_field_tag nil, clue.content