%table#crossword{:'data-id' => @crossword.id, :'data-rows' => @crossword.rows, :'data-cols' => @crossword.cols, :'data-auth-token' => form_authenticity_token}
  - for r in 1..@crossword.rows
    %tr{:'data-row' => r}
      - for c in 1..@crossword.cols
        - index = (r -1)*@crossword.cols + c - 1
        - letter = @crossword.letters[index]
        - unless letter == '_'
          %td.cell{:'data-row' => r, :'data-col' => c}
            .letter= @solution.letters[index] if @solution
            .cell_num
            .cell-flag
        -else
          %td.cell.void{:'data-row' => r, :'data-col' => c}

.clue-column
  %h6 Across
  %ol.clues#across
    - @crossword.across_start_cells.each do |cell|
      %li.clue.across-clue{:'data-cell-id' => cell.id}
        = "#{cell.cell_num}. "
        = cell.across_clue.content.gsub(%r{ (\*) (\S|\S.*?\S) \1 }x, %{<em>\\2</em>}).html_safe if cell.across_clue.content

.clue-column
  %h6 Down
  %ol.clues#down
    - @crossword.down_start_cells.each do |cell|
      %li.clue.down-clue{:'data-cell-id' => cell.id}
        = "#{cell.cell_num}. "
        = cell.down_clue.content.gsub(%r{ (\*) (\S|\S.*?\S) \1 }x, %{<em>\\2</em>}).html_safe if cell.down_clue.content

#solve-controls
  %button.button.alert.small#show_incorrect Show Incorrect
  %button.button.warning.small#check_correctness Check Correctness
  %button.button.success.small#submit_solution Submit Solution