= javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js"
- solver_id = (0..5).map{random_char}.join('')
- display_name = @current_user ? (@current_user.first_name || @current_user.username) : 'anon_'+solver_id
- channel = "#{@crossword.id}_#{@solution.key}"
:javascript
  var pusher = new Pusher("#{Pusher.key}");
  var channel = "#{channel}";
  team_app = {};
  team_app.display_name = "#{display_name}";
  team_app.solver_id = "#{solver_id}";

= javascript_include_tag 'crosswords/team_funcs'

- if @current_user && @solution.user_id == @current_user.id
  #team-explanation.reveal-modal{:'data-reveal' => true}
    %h2
      Crosswords: More Fun as a Team
      = icon('users')
    %p.lead
      Solve puzzles with your friends in
      %strong real-time
      \-- just send them the link to this puzzle!
    %input.lead{value: request.original_url, style: 'margin-left: 2em; width: 40%; cursor: pointer', readonly: 'readonly', onclick: '$(this).select();'}
    = icon('link', class: 'lead', style: 'font-size: large; padding: 0.2em 0.3em;')
    %p.lead
    %p Now to find some friends...
    %a.close-reveal-modal ×

#team-chat.down
  .row.row-topper.no-select
    %span#unread-chat-count
    Team Chat
    %span#chat-minmax= icon('plus')
  #chats
  / Replaced: form_tag with remote: true → form_with (Turbo handles AJAX)
  / Wrapped in #team-chat-form so send_team_chat.turbo_stream.erb can replace it to reset the form
  / Extracted to partial so turbo_stream can re-render a blank copy
  #team-chat-form
    = render partial: 'crosswords/partials/team_chat_form', locals: { solution: @solution, display_name: display_name, channel: channel }