<%# Turbo Stream: appends the new reply and updates the count (with expanded chevron). %>
<%# The JS already slideDown's the .replies container before this response arrives, %>
<%# so even the first reply (empty container) will be visible when this appends into it. %>
<%= turbo_stream.append "replies-#{@base_comment.id}" do %>
  <%= render partial: 'comments/partials/reply', locals: { reply: @new_reply } %>
<% end %>
<%= turbo_stream.replace "reply-count-#{@base_comment.id}" do %>
  <button type="button" class="xw-comment__reply-count xw-comment__reply-count--expanded" id="reply-count-<%= @base_comment.id %>">
    <%= pluralize(@base_comment.replies.count, 'Reply') %>
  </button>
<% end %>

