- is_directional_start = across ? cell.is_across_start? : cell.is_down_start?
%li.clue{:'data-cell-num' => edit ? false : cell.cell_num, :'data-cell-id' => edit ? cell.id : false, :'data-id' => edit ? clue.id : false ,class: "#{across ? 'across-clue' : 'down-clue'} #{'hidden' unless is_directional_start}"}<
  - if edit
    %span.clue-num
    = text_field_tag nil, clue.content
  - else
    - directional_clue = across ? cell.across_clue : cell.down_clue
    #{cell.cell_num}. #{directional_clue.content.gsub(%r{ (\*) (\S|\S.*?\S) \1 }x, %{<em>\\2</em>}).html_safe if directional_clue.content}
