= content_tag_for(:div, comment, class: 'row') do
  .large-1.columns.small-3
    = link_to (image_tag comment.user.image.comment_size), comment.user
  .large-11.columns
    %p<
      = link_to "#{comment.user.display_name}: ", comment.user
      %br
      = comment.content
    %ul.inline-list
      %li
        - if @current_user
          = link_to nil, class: 'reply-button reply', style: 'display: inline-block;' do
            %i.fi-comment
            %span Reply
          - if @current_user.is_admin? || (@current_user == comment.user)
            = link_to comment, method: :delete, remote: true, class: 'reply-button', style: 'display: inline-block;' do
              %i.fi-trash
              %span #{'Admin ' unless (@current_user == comment.user)}Delete
          = link_to nil, class: 'cancel-button', style: 'display: none;' do
            %i.fi-x
            Never mind
          = form_tag(reply_to_comment_path(comment), remote: true, style: 'display: none;', class: 'reply-form') do
            = text_area_tag('content', nil, id: nil, class: 'reply-content')
      / %li
      /   %a{href: ""} Share
    %h6.reply-count<
      - if comment.replies.any?
        = pluralize(comment.replies.count, 'Reply')
    .replies
      - comment.replies.each do |reply|
        = render partial: 'comments/partials/reply', locals: {reply: reply}
%hr/