%table
  %thead
    %tr
      %th ID
      %th Content
      %th Flag?
      %th Creator
      %th Crossword
      %th
      %th
  %tbody
    - @comments.each do |comment|
      = content_tag(:tr, id: dom_id(comment)) do
        %td= comment.id
        %td= comment.content
        %td
          - if comment.flagged
            %i.fi-flag{style: 'color: red;'}
        %td
          = link_to comment.user.username, comment.user
        %td
          = comment.crossword.present? ? link_to(comment.crossword.title, comment.crossword) : link_to(comment.base_comment.crossword.title, comment.base_comment.crossword)
        %td
          = link_to edit_admin_comment_path(comment) do
            %i.fi-pencil
        %td
          / Replaced: link_to with method: :delete, remote: true → turbo_method: :delete (redirect after destroy)
          = link_to admin_comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "Are you SURE you want to delete this comment by #{comment.user.username}?" } do
            %i.fi-trash