%table
  %thead
    %tr
      %th ID
      %th Content
      %th Flag?
      %th Creator
      %th Crossword
  %tbody
    - @comments.each do |comment|
      = content_tag_for(:tr, comment) do
        %td= comment.id
        %td= comment.content
        %td
          - if comment.flagged
            %i.fi-flag{style: 'color: red;'}
        %td
          = link_to comment.user.username, comment.user
        %td
          = comment.crossword.present? ? link_to(comment.crossword.title, comment.crossword) : link_to(comment.base_comment.crossword.title, comment.base_comment.crossword)
