- title 'Admin | Edit Word', true
= render layout: 'layouts/partials/admin_page', locals: {page_title: 'Edit Word', back_path: admin_words_path} do
  .xw-admin-form
    = form_with model: @word, url: url_for(controller: 'admin/words', method: :update), html: { class: 'xw-grid' } do |f|
      .xw-col-full
        = f.label :content
        = f.text_field :content
      .xw-col-full
        = f.submit class: 'xw-btn xw-btn--success', data: {disable_with: 'Updating...'}
