= content_for :head do
  = stylesheet_link_tag :pagination
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Crosswords'} do
  = will_paginate @crosswords, class: 'smaller pagination'
  = render partial: 'crosswords/partials/crosswords'