= content_for :head do
  = stylesheet_link_tag :pagination
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Words'} do
  = will_paginate @words, class: 'smaller pagination'
  = render partial: 'words/partials/words'