/ :first_name, :last_name, :username, :email, :password, :password_confirmation, :crossword_ids, :comment_ids, :solution_ids, :clue_ids, :clue_instance_ids

.row
  .large-2.columns
    %h1
      = @user.username
    = image_tag @user.image
    %p.center
      = @user.first_name
      = @user.last_name
  .large-6.columns
    %h3 Stats
    %h4
      Crosswords created:
      = @user.crossword_count
    %h6
      Clues written:
      = @user.clue_count
  .large-4.columns
    %ul
      - @user.crosswords.each do |cw|
        %a{:href => '/crosswords/'+cw.id.to_s}
          %li
            = cw.title
            / Generate an SVG image of the crossword puzzle
            %svg
              %rect{:fill => "white", :height => 5*cw.rows+2, :width => 5*cw.cols+2, :stroke => "black", ':stroke-width'=> 1}
              - (1..cw.rows).each do |row|
                - (1..cw.cols).each do |col|
                  -if cw.is_void?(row, col)
                    %rect{:fill =>  "black", :height => 5, :width => 5, :x => (col-1)*5+1, :y => (row-1)*5+1}
.row
