- title 'Account'
= content_for :head do
  = stylesheet_link_tag :account
  = javascript_include_tag :account
= render layout: 'layouts/partials/topper_stopper' do
  = render partial: 'users/partials/account_form', locals: {user: @user}