- title 'Retrieve Password'

= content_for :head do
  = stylesheet_link_tag :forgot_password
= render layout: 'layouts/partials/topper_stopper' do
  #password-reset-form
    %h1 Retrieve Password
    %br
    - if @current_user
      %p
        You are currently logged in as&nbsp;
        %b> #{@current_user.username}
        \. If you know your password, you can change it in your #{link_to 'account settings', account_users_path}.
      %p If you have forgotten your password, you can reset it:
      = button_to('Reset Password', send_password_reset_users_path, class: 'xw-btn xw-btn--danger', data: { disable_with: 'Resetting...' })
    - else
      = form_with(url: send_password_reset_users_path, method: :post) do |f|
        %p Please enter your username or email address
        .xw-field
          = label_tag :username, nil, class: 'xw-label'
          = text_field_tag :username, nil, class: 'xw-input'
        %p.center — or —
        .xw-field
          = label_tag :email, nil, class: 'xw-label'
          = email_field_tag :email, nil, class: 'xw-input'
        = submit_tag 'Send', class: 'xw-btn xw-btn--danger', data: {disable_with: 'Resetting...'}
