= content_for :head do
  = stylesheet_link_tag :forgot_password
.row.row-topper.row-bookend
.row
  .large-12.columns
    %h1.fade-on-submit
      Forgotten Password
    %br
    #errors
    %div
      - if @current_user
        %p.fade-on-submit
          You are currently logged in as&nbsp;
          %b> #{@current_user.username}
          \. If you know your password, you can change it in your #{link_to 'account settings', account_users_path}.
        %p.fade-on-submit If you have forgotten your password, you can reset it:
        = button_to('Reset Password',reset_password_users_path, remote: true, class: 'button alert fade-on-submit', disable_with: 'Resetting...')
      -else
        = form_tag(reset_password_users_path, method: :post) do
          = password_field_tag :old_password, nil, placeholder: 'Old Password'
          = password_field_tag :new_password, nil, placeholder: 'New Password'
          = password_field_tag :new_password_confirm, nil, placeholder: 'New Password Again'
          = submit_tag 'Reset password', class: 'button success'
      %h3#email-sent.hidden An email with a link to reset your password has been sent.
.row.row-stopper.row-bookend