- title 'Retrieve Password'

= content_for :head do
  = stylesheet_link_tag :forgot_password
= render layout: 'layouts/partials/topper_stopper' do
  %h1.fade-on-submit
    Retrieve Password
  %br
  #errors
  %div
    - if @current_user
      %p.fade-on-submit
        You are currently logged in as&nbsp;
        %b> #{@current_user.username}
        \. If you know your password, you can change it in your #{link_to 'account settings', account_users_path}.
      %p.fade-on-submit If you have forgotten your password, you can reset it:
      = button_to('Reset Password',send_password_reset_users_path, remote: true, class: 'button alert fade-on-submit', disable_with: 'Resetting...')
    -else
      = form_tag(send_password_reset_users_path, method: :post, remote: true, class: 'fade-on-submit') do
        %h5 Please enter your username or email address
        %hr
        = label_tag :username
        = text_field_tag :username
        %h4 OR
        = label_tag :email
        = email_field_tag :email
        = submit_tag 'Send', class: 'button alert', data: {disable_with: 'Resetting...'}
    %h#email-sent.hidden
      You should receive an email shortly with a link to reset your password.