.row.row-topper.row-bookend
.row
  .large-12.columns
    %h1
      Reset your password
    %br
    #errors
    = form_tag(reset_password_users_path, method: :post) do
      = text_field_tag :old_password, nil, placeholder: 'Old Password'
      = text_field_tag :new_password, nil, placeholder: 'New Password'
      = text_field_tag :new_password_confirm, nil, placeholder: 'New Password Again'
      = submit_tag 'Reset password', class: 'button success'
.row.row-stopper.row-bookend