- title 'Reset Password'
= content_for :head do
  = stylesheet_link_tag :account
  = javascript_include_tag :account, 'data-turbo-track': 'reload'
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Reset Password', custom_columns: true} do
  - if @user
    .xw-col-12.xw-lg-center-6
      #password-errors.xw-alert.xw-alert--error.hidden
        %p
        %button.slide-close{type: 'button', aria: {label: 'Dismiss error'}} ×
      / Replaced: form_tag with remote: true → form_with (Turbo handles AJAX submission)
      = form_with(url: resetter_users_path, data: { controller: 'form-validation' }) do |f|
        = hidden_field_tag :password_reset_token, params[:password_reset_token]
        .xw-field
          %label.xw-label{for: 'new_password'} New Password
          = password_field_tag :new_password, nil, class: 'xw-input', id: 'new_password', autocomplete: 'new-password', required: true, maxlength: User::MAX_PASSWORD_LENGTH
        .xw-field
          %label.xw-label{for: 'new_password_confirmation'} Confirm New Password
          = password_field_tag :new_password_confirmation, nil, class: 'xw-input', id: 'new_password_confirmation', autocomplete: 'new-password', required: true, maxlength: User::MAX_PASSWORD_LENGTH
        = submit_tag 'Set New Password', class: 'xw-btn xw-btn--success', data: { disable_with: "Resetting\u2026" }
  - else
    .xw-col-full
      %p That password reset token has expired.
      %p You can get another one #{link_to 'here', forgot_password_users_path}
