= content_for :head do
  = stylesheet_link_tag :account
  = javascript_include_tag :account, 'data-turbo-track': 'reload'
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Reset Password', custom_columns: true} do
  - if @user
    .xw-col-12.xw-lg-center-6.center
      %br
      #password-errors.xw-alert.xw-alert--error.hidden
        %p
        %a.slide-close{href: "#"} &times;
      #password-success.xw-alert.xw-alert--success.hidden Password updated!
      / Replaced: form_tag with remote: true → form_with (Turbo handles AJAX submission)
      = form_with(url: resetter_users_path) do |f|
        = hidden_field_tag :password_reset_token, params[:password_reset_token]
        = password_field_tag :new_password, nil, placeholder: 'New Password', class: 'center'
        = password_field_tag :new_password_confirmation, nil, placeholder: 'New Password Again', class: 'center'
        = submit_tag 'Set New Password', class: 'xw-btn xw-btn--success'
  - else
    .xw-col-full
      %br
      %p.center That password reset token has expired.
      %p.center You can get another one #{link_to 'here', forgot_password_users_path}