= content_for :head do
  = stylesheet_link_tag :account
  = javascript_include_tag :account
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Reset Password', custom_columns: true} do
  - if @user
    .large-6.columns.large-offset-3.center
      %br
      #password-errors.alert-box.alert.hidden{data: {alert: true}}
        %p
        %a.slide-close{href: "#"} &times;
      #password-success.alert-box.success.hidden{data: {alert: true}} Password updated!
      = form_tag(resetter_users_path, remote: true) do
        = hidden_field_tag :password_reset_token, params[:password_reset_token]
        = password_field_tag :new_password, nil, placeholder: 'New Password', class: 'center'
        = password_field_tag :new_password_confirmation, nil, placeholder: 'New Password Again', class: 'center'
        = submit_tag 'Set New Password', class: 'button success'
  - else
    .large-12.columns
      %br
      %p.center That password reset token has expired.
      %p.center You can get another one #{link_to 'here', forgot_password_users_path}