- title 'Contact'
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Contact'} do
  .xw-prose
    %p
      Questions, bug reports, puzzle suggestions, or just want to say hi? I'd love to hear
      from you. The best way to reach me is by email at
      = succeed '.' do
        = mail_to 'dylan@crossword-cafe.org', 'dylan@crossword-cafe.org'
      I read everything and try to respond within a day or two.

    %hr

    %p
      Crossword Café is open source. If you've found a bug, want to suggest a feature, or
      are curious about how things work under the hood, check out the repo on
      = succeed '.' do
        %a{href: 'https://github.com/doshea/xword', target: '_blank', rel: 'noopener'} GitHub

    = link_to 'Browse Puzzles', root_path, class: 'xw-btn'
