.row.row-topper.row-bookend
.row
  .large-12.columns.puzzle-tabs
    %h2
      = "Welcome back, #{@current_user.display_first_name}!"
    %hr
    - if @in_progress_solo.any?
      %h4
        %i.fi-clipboard-pencil
        In Progress
      %ul
        - @in_progress_solo.each do |crossword|
          = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
      %hr
    - if @unstarted_solo.any?
      %h4
        %i.fi-clipboard
        New Puzzles
      %ul
        - @unstarted_solo.each do |crossword|
          = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
      %hr
    - if @solved_solo.any?
      %h4
        %i.fi-clipboard-notes
        Solved Puzzles
      %ul
        - @solved_solo.each do |crossword|
          = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
      %hr
    %h4
      %i.fi-alert
      Non-standard puzzles
    %ul
      - Crossword.nonstandard.published.unowned(@current_user).order(:date_published).each do |crossword|
        = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
    %hr
    %h4
      %i.fi-pencil
      Your puzzles
    .large-6.columns
      - if @owned_puzzles.any?
        -if @unpublished.any?
          %h5
            Unpublished
          %ul
            - @unpublished.each do |crossword|
              = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
    .large-6.columns
      - if @published.any?
        %h5
          Published
        %ul
          - @published.each do |crossword|
            = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
      - else
        You haven't created any puzzles yet.
        = link_to 'Want to try?', new_crossword_path, class: 'foundation'
        %hr
.row.row-stopper.row-bookend
