.row.row-topper.row-bookend
.row
  .large-12.columns.puzzle-tabs
    %h2 Welcome back, #{@current_user.display_first_name}!
    %hr
    - if @in_progress_solo.any?
      %h4
        %i.fi-clipboard-pencil
        In Progress
      %ul
        - @in_progress_solo.each do |crossword|
          = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
      %hr
    - if @in_progress_team.any?
      %h4
        %i.fi-clipboard-pencil
        In Progress (Team)
      %ul
        - @in_progress_team.each do |crossword|
          = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
      %hr
    - if @unstarted.any?
      %h4
        %i.fi-clipboard
        New Puzzles
      %ul
        - @unstarted.each do |crossword|
          = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
      %hr
    - if @solved.any?
      %h4
        %i.fi-clipboard-notes
        Solved Puzzles
      %ul
        - @solved.each do |crossword|
          = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
      %hr
    %h4
      %i.fi-alert
      Non-Standard Puzzles
    %ul
      - Crossword.nonstandard.published.unowned(@current_user).order(:date_published).each do |crossword|
        = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
    %hr
    %h4
      %i.fi-pencil
      Your Puzzles
    - if @owned_puzzles.any?
      .large-6.columns
        -if @unpublished.any?
          %h5
            Unpublished
          %ul
            - @unpublished.each do |crossword|
              = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
      .large-6.columns
        - if @published.any?
          %h5
            Published
          %ul
            - @published.each do |crossword|
              = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
    - else
      .large-12.columns
        You haven't created any puzzles yet.
        = link_to 'Want to try?', new_crossword_path, class: 'foundation'
        %hr
.row.row-stopper.row-bookend
