.row.row-topper.row-bookend
.row
  .large-12.columns.puzzle-tabs
    %h2
      = "Welcome back, #{@current_user.display_first_name}!"
    %hr
    - if @in_progress_solos.any?
      %h4 In Progress
      %ul
        - @in_progress_solos.standard.unowned(@current_user).each do |crossword|
          = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
      %hr
    - if @in_progress_solos.any?
      %h4 In Progress (Team)
      %ul
        - @in_progress_solos.standard.unowned(@current_user).each do |crossword|
          = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
      %hr
    - if @unstarted.any?
      %h4 Latest puzzles
      %ul
        - @unstarted.each do |crossword|
          = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
      %hr
    - if @solved.any?
      %h4 Solved puzzles
      %ul
        - @solved.each do |crossword|
          = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
      %hr
    %h4 Non-standard puzzles
    %ul
      - Crossword.where.not('(rows = 15) AND (cols = 15)').published.unowned(@current_user).order(:date_published).each do |crossword|
        = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
    %hr
    %h4
      Your puzzles
    - if @owned_puzzles.any?
      -if @unpublished.any?
        %h5
          Unpublished
        %ul
          - @unpublished.each do |crossword|
            = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
            %hr
      - if @published.any?
        %h5
          Published
        %ul
          - @published.each do |crossword|
            = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
            %hr
    - else
      You haven't created any puzzles yet.
      = link_to 'Want to try?', new_crossword_path, class: 'foundation'
      %hr
.row.row-stopper.row-bookend
