- title 'Home'
-# TODO: FIX UP THE SEARCH.CSS FILE SO IT DOESN'T CONTAIN THIS SORT OF GLOBAL CSS
= content_for :head do
  = stylesheet_link_tag :search

= render layout: 'layouts/partials/topper_stopper', locals: {columns_class: 'puzzle-tabs'} do
  %h2
    - if @current_user
      Welcome back, #{@current_user.display_first_name}!
    - else
      Welcome to the Café!
  %hr{style: 'margin-bottom: 0;'}
  %dl.tabs{"data-tab" => ""}
    %dd.active
      = link_to '#panel1' do
        %h5
          %i.fi-clipboard
          %span #{'New' if @current_user} Puzzles (#{@unstarted.length})
    - if @current_user
      %dd
        = link_to '#panel2' do
          %h5
            %i.fi-clipboard-pencil
            %span In Progress (#{@in_progress.length})
      %dd
        = link_to '#panel3' do
          %h5
            %i.fi-clipboard-notes
            %span Solved Puzzles (#{@solved.length})
  :javascript
    var puzzles_remaining = {};
  .tabs-content
    #panel1.content.active
      = render partial: 'pages/home/unstarted'
    #panel2.content
      = render partial: 'pages/home/in_progress'
    #panel3.content
      = render partial: 'pages/home/solved_puzzles'