- title 'NYT Crosswords'

= render layout: 'layouts/partials/topper_stopper', locals: {columns_class: 'xw-puzzle-grid', row_top_title: "#{image_tag 'nyt_white.png', width: 20} New York Times Crosswords".html_safe} do

  - if @total_count == 0
    .xw-empty-state
      = icon('clipboard-list', size: 36, class: 'xw-empty-state__icon')
      %p.xw-empty-state__heading No NYT puzzles yet
      %p NYT puzzles haven't been imported yet. Check back soon!
  - else
    .nyt-view{data: {controller: 'nyt-view'}}
      .xw-view-toggle{role: 'tablist'}
        %button.xw-view-btn.xw-view-btn--active{role: 'tab', 'aria-selected': 'true', 'aria-controls': 'nyt-by-day', data: {'nyt-view-target': 'btn', action: 'click->nyt-view#show'}}
          By Day
        %button.xw-view-btn{role: 'tab', 'aria-selected': 'false', 'aria-controls': 'nyt-calendar', data: {'nyt-view-target': 'btn', action: 'click->nyt-view#show'}}
          Calendar

      /- Panel 1: Day-of-week tabs
      - day_order = [[1, 'Mon'], [2, 'Tue'], [3, 'Wed'], [4, 'Thu'], [5, 'Fri'], [6, 'Sat'], [0, 'Sun']]
      .nyt-view-panel.nyt-view-panel--active{id: 'nyt-by-day', role: 'tabpanel', data: {'nyt-view-target': 'panel'}}
        .xw-tabs{data: {controller: 'tabs'}}
          .xw-tabs__nav{role: 'tablist'}
            - day_order.each_with_index do |(wday, label), i|
              - is_default = (wday == @default_wday)
              - count = @wday_counts[wday] || 0
              %button{type: 'button', role: 'tab', 'aria-selected': (is_default).to_s, 'aria-controls': "day-panel-#{wday}", class: "xw-tab #{'xw-tab--active' if is_default}", data: {tabs_target: 'tab', action: 'click->tabs#show'}}
                %span.tab-label
                  %span #{label} (#{count})

          .xw-tab-panels
            - day_order.each_with_index do |(wday, label), i|
              - is_default = (wday == @default_wday)
              - panel_data = {tabs_target: 'panel'}
              - panel_data['lazy-src'] = nytimes_day_path(wday: wday) unless is_default
              %div{id: "day-panel-#{wday}", role: 'tabpanel', class: "xw-tab-panel #{'xw-tab-panel--active' if is_default}", data: panel_data}
                - if is_default
                  = render partial: 'pages/nyt_day_content', locals: {puzzles: @default_puzzles}
                - else
                  .xw-loading-placeholder
                    %span.xw-spinner
                    %p Loading\u2026

      /- Panel 2: Calendar
      .nyt-view-panel{id: 'nyt-calendar', role: 'tabpanel', data: {'nyt-view-target': 'panel'}}
        .xw-calendar{data: {controller: 'calendar', 'calendar-puzzles-value': @puzzle_dates.to_json, 'calendar-min-value': @calendar_min, 'calendar-max-value': @calendar_max}}
