- title 'NYT Crosswords'

= render layout: 'layouts/partials/topper_stopper', locals: {columns_class: 'xw-puzzle-grid', row_top_title: "#{image_tag 'nyt_white.png', width: 20} New York Times Crosswords".html_safe} do

  - if @total_count == 0
    .xw-empty-state
      = icon('clipboard-list', size: 36, class: 'xw-empty-state__icon')
      %p.xw-empty-state__heading No NYT puzzles yet
      %p NYT puzzles haven't been imported yet. Check back soon!
  - else
    .nyt-view{data: {controller: 'nyt-view'}}
      .xw-view-toggle
        %button.xw-view-btn.xw-view-btn--active{data: {'nyt-view-target': 'btn', action: 'click->nyt-view#show'}}
          By Day
        %button.xw-view-btn{data: {'nyt-view-target': 'btn', action: 'click->nyt-view#show'}}
          Calendar

      /- Panel 1: Day-of-week tabs
      - day_order = [[1, 'Mon'], [2, 'Tue'], [3, 'Wed'], [4, 'Thu'], [5, 'Fri'], [6, 'Sat'], [0, 'Sun']]
      .nyt-view-panel.nyt-view-panel--active{data: {'nyt-view-target': 'panel'}}
        .xw-tabs{data: {controller: 'tabs'}}
          .xw-tabs__nav
            - day_order.each_with_index do |(wday, label), i|
              - count = (@puzzles_by_wday[wday] || []).size
              = link_to "#day-panel-#{wday}", class: "xw-tab #{'xw-tab--active' if i == 0}", data: {tabs_target: 'tab', action: 'click->tabs#show'} do
                %span.tab-label
                  %span #{label} (#{count})

          .xw-tab-panels
            - day_order.each_with_index do |(wday, label), i|
              - puzzles = @puzzles_by_wday[wday] || []
              %div{id: "day-panel-#{wday}", class: "xw-tab-panel #{'xw-tab-panel--active' if i == 0}", data: {tabs_target: 'panel'}}
                - if puzzles.empty?
                  .xw-empty-state
                    %p No #{label} puzzles imported.
                - else
                  - puzzles.group_by { |c| c.created_at.year }.each do |year, year_puzzles|
                    %h3.xw-year-header= year
                    %ul
                      - year_puzzles.each do |crossword|
                        %li
                          = render partial: 'crosswords/partials/crossword_tab', locals: {cw: crossword}

      /- Panel 2: Calendar
      .nyt-view-panel{data: {'nyt-view-target': 'panel'}}
        .xw-calendar{data: {controller: 'calendar', 'calendar-puzzles-value': @puzzle_dates.to_json, 'calendar-min-value': @calendar_min, 'calendar-max-value': @calendar_max}}
