- title (@query.blank? ? 'Search' : "Search Results for '#{@query}'")
= content_for :head do
  = stylesheet_link_tag :search

= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: @query.blank? ? 'Site Search' : 'Search Results', row_class: 'puzzle-tabs'} do
  - if @crosswords.any?
    = render partial: 'pages/partials/crossword_search'
    %hr
  - if @users.any?
    = render partial: 'pages/partials/user_search'
    %hr
  - if @words.any?
    = render partial: 'pages/partials/word_search'
    %hr
  = form_tag search_path, method: :get, data: { controller: 'loading', action: 'submit->loading#submit' } do
    = label_tag :query, 'Search', class: 'sr-only'
    = search_field_tag :query, @query, id: 'search2', class: 'xw-nav__search-input', placeholder: 'A puzzle title, username, clue or word...'
    %br
    = submit_tag 'Search', class: 'xw-btn xw-btn--success', data: { loading_target: 'button' }