%h6= "#{pluralize(@users.count, 'user')}  found"
- @users_sliced.each do |slice|
  .row
    -slice.each do |user|
      = link_to user do
        .large-2.columns.result-user
          = image_tag user.image.search.url
          %p.name= user.display_name