.row.row-topper.row-bookend
.row
  .large-12.columns
    %dl.tabs.vertical{"data-tab" => ""}
      %dd.active
        %a{href: "#panel1"} Personal Information
      %dd
        %a{href: "#panel2"} Puzzle Settings
      %dd
        %a{href: "#panel3"} Email Settings
      %dd
        %a{href: "#panel4"} Password
    .tabs-content.vertical
      #panel1.content.active
        = form_for user, :html => {:multipart => true}, :remote => true do |f|
          %fieldset
            %legend
              Profile Picture
            .row
              .large-5.columns
                = image_tag user.image, class: 'profile-pic-updateable'
              .large-7.columns
                %p
                  Upload an image from your computer
                = f.file_field :image
                %p
                  or from the internetz
                = text_field_tag "user[remote_image_url]", nil, :placeholder => "http://www.example.com/willshortz"
          %fieldset
            %legend
              Personal Info
            = f.label :first_name
            = f.text_field :first_name, placeholder: 'Will'
            = f.label :last_name
            = f.text_field :last_name, placeholder: 'Shortz'
            = f.label :location
            = f.text_field :location, placeholder: 'Lost in thought'
            = f.submit 'Update Account', class: 'button'
      #panel2.content
        = form_tag root_path do
          %fieldset
            %legend
              Puzzle Settings
      #panel3.content
        = form_tag root_path do
          %fieldset
            %legend
              Email Settings
      #panel4.content
        / = form_tag root_path do
        %fieldset
          %legend
            Change Password
          = form_tag(reset_password_users_path, method: :post, remote: true) do
            = text_field_tag :old_password, nil, placeholder: 'Old Password'
            = text_field_tag :new_password, nil, placeholder: 'New Password'
            = text_field_tag :new_password_confirm, nil, placeholder: 'New Password Again'
            = submit_tag 'Change Password', class: 'button'
  .row.row-stopper.row-bookend