= form_for @user, html: { data: { controller: 'form-validation' } } do |f|
  = hidden_field_tag :redirect, params[:redirect]
  .xw-field
    = f.label :username, class: 'xw-label'
    = f.text_field :username, autocomplete: 'username', required: true, class: 'xw-input'
  .xw-field
    = f.label :email, class: 'xw-label'
    = f.email_field :email, autocomplete: 'email', required: true, class: 'xw-input'
  .xw-field
    = f.label :password, class: 'xw-label'
    = f.password_field :password, autocomplete: 'new-password', required: true, class: 'xw-input'
  .xw-field
    = f.label :password_confirmation, 'Confirm password', class: 'xw-label'
    = f.password_field :password_confirmation, autocomplete: 'new-password', required: true, class: 'xw-input'
  = f.submit "Sign up", class: 'xw-btn xw-btn--success', data: { disable_with: "Creating account\u2026" }
