= form_for @user do |f|
  = f.label :username
  = f.text_field :username, autocomplete: 'username'
  = f.label :email
  = f.email_field :email, autocomplete: 'email'
  = f.label :password
  = f.password_field :password, autocomplete: 'new-password'
  = f.label :password_confirmation, 'Confirm password'
  = f.password_field :password_confirmation, autocomplete: 'new-password'
  = f.submit "Sign up", :class => 'xw-btn xw-btn--success'