%table#users
  %thead
    %tr
      %th ID
      %th First
      %th Last
      %th Username
      %th Email
      %th Admin
      %th Created
      %th Updated
      %th
      %th
  %tbody
    - @users.each do |user|
      = content_tag(:tr, id: dom_id(user)) do
        %td= user.id
        %td= user.first_name
        %td= user.last_name
        %td= link_to user.username, user
        %td= mail_to user.email, user.email
        %td
          - if user.is_admin
            %i.fi-check
        %td= user.created_at.strftime("%m/%d/%y")
        %td= user.updated_at.strftime("%m/%d/%y")
        %td
          = link_to edit_admin_user_path(user) do
            %i.fi-pencil
        %td
          = link_to admin_user_path(user), method: :delete, remote: true, data: {confirm: "Are you SURE you want to delete #{user.display_first_name}?"} do
            %i.fi-trash