%table#users
  %thead
    %tr
      %th ID
      %th First
      %th Last
      %th Username
      %th Email
      %th Admin
      %th Created
      %th Updated
  %tbody
    - @users.each do |user|
      = content_tag_for(:tr, user) do
        %td= user.id
        %td= user.first_name
        %td= user.last_name
        %td= link_to user.username, user
        %td= mail_to user.email, user.email
        %td= user.is_admin
        %td= user.created_at.strftime("%m/%d/%y")
        %td= user.updated_at.strftime("%m/%d/%y")