%br
.xw-col-12.xw-lg-3
  = image_tag @user.image.url
  #profile-name= @user.display_name
  #profile-join Joined: #{@user.created_at.strftime("%b %d, %Y")}
  - if @current_user && (@current_user != @user)
    - if @current_user.friends.include? @user
      %button.xw-btn.xw-btn--success.xw-btn--sm
        = icon('check')
        Friends!
    - else
      %button.xw-btn.xw-btn--ghost Not Friends
  #profile-stats
    %h5.center Stats
    %hr
    %ul
      %li
        Crosswords
        %ul.bulleted
          %li #{@user.solutions.complete.count} solved
          %li #{@user.crosswords.count} created
          %li #{@user.unpublished_crosswords.count} in the works
      %hr
      %li Clues written: #{@user.clues.count}
.xw-col-12.xw-lg-5
  %h2 Recent Comments
  %ul#recent-comments
    - @user.comments.order_recent.each do |c|
      %li
        = link_to c.content, c.base_crossword
        %br
        %span.right.smaller= c.created_ago
      %hr

.xw-col-12.xw-lg-4
  %h2 Puzzles
  - if @user.crosswords.any?
    %ul
      - @user.crosswords.each do |cw|
        %li
          = link_to cw.title, cw
          = link_to cw do
            = image_tag cw.preview.url, class: 'xw-thumbnail'
  - else
    No puzzles created yet