.row
  .large-2.columns
    %h1
      = @user.username
    = image_tag @user.image
    %p.center
      #{@user.first_name} #{@user.last_name}
  .large-6.columns
    %h3 Stats
    %h4
      Crosswords created: #{@user.crossword_count}
    %h6
      Clues written: #{@user.clue_count}
  .large-4.columns
    %ul
      - @user.crosswords.each do |cw|
        %li
          = link_to cw.title, cw
          = link_to cw do
            = render partial: 'crosswords/partials/mini_pic_canvas', locals: {:cw => cw}
.row
