.xw-col-12.xw-md-4.xw-lg-3
  = image_tag @user.image.url
  %h1#profile-name= @user.display_name
  %p#profile-join
    Joined:
    %time{datetime: @user.created_at.iso8601}= @user.created_at.strftime("%b %d, %Y")
  - if @current_user && (@current_user != @user)
    - if @is_friend
      %button.xw-btn.xw-btn--success.xw-btn--sm
        = icon('check')
        Friends!
    - else
      %button.xw-btn.xw-btn--ghost Not Friends
  #profile-stats
    %h3 Stats
    %hr
    %ul
      %li
        Crosswords
        %ul.bulleted
          %li #{@user.solutions.complete.count} solved
          %li #{@user.crosswords.count} created
          %li #{@user.unpublished_crosswords.count} in the works
    %hr
    %ul
      %li Clues written: #{@user.clues.count}
.xw-col-12.xw-md-8.xw-lg-5
  %h2 Recent Comments
  %ul#recent-comments
    - @comments.each do |c|
      %li
        = link_to c.content, c.base_crossword
        %br
        %time.smaller{datetime: c.created_at.iso8601}= c.created_ago
      %hr

.xw-col-12.xw-lg-4
  %h2 Puzzles
  - if @crosswords.any?
    %ul
      - @crosswords.each do |cw|
        %li
          = link_to cw.title, cw
          = link_to cw do
            = image_tag cw.preview.url, class: 'xw-thumbnail'
  - else
    %p No puzzles created yet
