%br
.large-3.columns
  = image_tag @user.image
  %p.center
    - if @user.first_name or @user.last_name
      #{@user.first_name} #{@user.last_name}
      %br
    Joined: #{@user.created_at.strftime("%b %d, %Y")}
  %h5 Stats
  %ul
    %li
      Crosswords
      %ul
        %li #{@user.solutions.completed.count} solved
        %li #{@user.crosswords.published.count} created
        %li #{@user.crosswords.unpublished.count} in the works
    %li Clues written: #{@user.clues.count}
.large-5.columns

.large-4.columns
  %ul
    - @user.crosswords.published.each do |cw|
      %li
        = link_to cw.title, cw
        = link_to cw do
          = image_tag cw.preview, class: 'shadow thin-border'