= content_for :head do
  = stylesheet_link_tag :search
= render layout: 'layouts/partials/topper_stopper', locals: {columns_class: 'puzzle-tabs'} do
  %h2 Welcome back, #{@current_user.display_first_name}!
  %hr{style: 'margin-bottom: 0;'}
  %h5
    %i.fi-pencil
    %span Your Puzzles

  :javascript
    var puzzles_remaining = {};
  = render partial: 'pages/home/your_puzzles'