- title 'Create'
= render layout: 'layouts/partials/topper_stopper', locals: {columns_class: 'xw-puzzle-grid', row_top_title: 'Your Puzzles'} do

  -# --- Unpublished puzzles ---
  %section
    %h2.xw-create__section-heading
      Unpublished
      %span.xw-create__count= @unpublished.count
    - if @unpublished.any?
      %ul
        - @unpublished.each do |cw|
          %li
            = render partial: 'crosswords/partials/crossword_tab', locals: {cw: cw, unpublished: true}
    - else
      .xw-empty-state.xw-empty-state--create
        = icon('pencil', size: 40, class: 'xw-empty-state__icon')
        %p.xw-empty-state__heading Create your first crossword
        %p Build a puzzle, add clues, and share it with the community.
        .xw-empty-state__actions
          = link_to new_unpublished_crossword_path, class: 'xw-btn xw-btn--success xw-btn--lg' do
            = icon('plus')
            New Puzzle
        %p.xw-empty-state__hint You'll start with a blank grid and fill in words and clues.

  -# --- Published puzzles ---
  - if @published.any?
    %hr
    %section
      %h2.xw-create__section-heading
        Published
        %span.xw-create__count= @published.count
      %ul
        - @published.each do |cw|
          %li
            = render partial: 'crosswords/partials/crossword_tab', locals: {cw: cw}
