= javascript_include_tag 'edit'
= content_for :head do
  = stylesheet_link_tag :crossword
  = stylesheet_link_tag :edit
  = javascript_include_tag 'jquery-ui-1.10.4.draggable.min'

.row#credit-area
  .large-9.columns
    %h3.large
      .row
        .large-1.columns.smaller Title:
        .large-9.columns.end= text_field_tag 'title', @unpublished_crossword.title
  .large-3.columns
    #puzzle-controls
      %span#save-status.smaller No changes yet
      %span#save-clock.smaller
      = link_to 'app.save_solution()', class: 'button tiny secondary rounded' do
        %i.fi-save


.row#solve-area
  .large-12.columns
    = render partial: 'unpublished_crosswords/partials/edit_unpublished_crossword'
.row#advanced
  .large-12.columns
    = label_tag :advanced
.row#meta-area
  .large-12.columns
    %p
      = label_tag :description
      = text_area_tag :description, @unpublished_crossword.description
  = link_to('Publish Puzzle', publish_unpublished_crossword_path(@unpublished_crossword), class: 'button', data: {confirm: 'Are you sure you want to publish this puzzle?\nPublished puzzles cannot be edited or deleted.'})

-# NON-INLINE ELEMENTS

%section#idea-container.slide-up-container
  = link_to('#ideas', class: 'bottom-button', id: 'ideas-button', remote: true) do
    %i.fi-list
    %span.small Ideas
  #ideas
    .row
      = form_tag add_potential_word_unpublished_crossword_path(@unpublished_crossword), method: :patch, remote: true do
        = text_field_tag :word, nil, id: nil, autocomplete: 'off', placeholder: "Type a word you're considering"
    %ul
      - @unpublished_crossword.potential_words.each do |word|
        = render partial: 'unpublished_crosswords/partials/potential_word', locals: {word: word}

%section#pattern-container.slide-up-container
  = link_to('#pattern_search', class: 'bottom-button', id: 'pattern-search-button', remote: true) do
    %i.fi-magnifying-glass
    %span.small
      Pattern Search
      %sup Beta
  #pattern-search
    .row
      = form_tag match_words_path, method: :post, remote: true do
        = text_field_tag :pattern, nil, id: nil, autocomplete: 'off', placeholder: "e.g. P_TT_RN or SE?RCH"
      #word-match-results

%ol.joyride-list{data: {joyride: true}}
  %li{data: {id: 'credit-area', text: 'Next'}}
    %p Hello and welcome to the Joyride documentation page.

= link_to('#edit-settings', class: 'dark-shadow side-button', id: 'settings-button', remote: true) do
  %i.fi-widget


#edit-settings.reveal-modal{:'data-reveal' => true}
  %h3
    %i.fi-widget
    Edit Settings
  #settings
    
    %hr
    %input{type: 'checkbox'}
    %br
    %input{type: 'checkbox'}
    %br
    %input{type: 'checkbox'}
    %br
    %input{type: 'checkbox'}
    %br
    %input{type: 'checkbox'}
    %br
    %input{type: 'checkbox'}
    %br