- title 'Admin | Solutions', true
= render layout: 'layouts/partials/admin_page', locals: {page_title: 'Solutions'} do
  = will_paginate @solutions, class: 'xw-pagination'
  .xw-admin-table-wrap
    %table.xw-admin-table
      %thead
        %tr
          %th ID
          %th Crossword
          %th Creator
          %th Letters
          %th Complete?
          %th Team?
          %th Key
          %th
      %tbody
        - @solutions.each do |solution|
          = content_tag(:tr, id: dom_id(solution)) do
            %td= solution.id
            %td= solution.crossword ? link_to(solution.crossword.title, solution.crossword) : 'NONE'
            %td= (solution.user && !solution.user.deleted?) ? link_to(solution.user.username, solution.user) : '[Deleted Account]'
            %td.xw-admin-cell--compact= solution.letters
            %td.xw-admin-cell--icon
              - if solution.is_complete
                = icon('check')
            %td.xw-admin-cell--icon
              - if solution.team
                = icon('check')
            %td
              - if solution.key
                - if solution.crossword
                  = link_to solution.key, team_crossword_path(solution.crossword, solution.key)
                - else
                  = solution.key
            %td.xw-admin-actions
              = link_to edit_admin_solution_path(solution), class: 'xw-admin-action' do
                = icon('pencil')
              = link_to admin_solution_path(solution), class: 'xw-admin-action xw-admin-action--danger', data: { turbo_method: :delete, turbo_confirm: "Are you SURE you want to delete this solution by #{solution.user&.username || '[deleted]'}?" } do
                = icon('trash-2')
