- title "Admin | Edit #{@crossword.title}", true
= render layout: 'layouts/partials/admin_page', locals: {page_title: "Edit #{@crossword.title}", back_path: admin_crosswords_path} do
  = render 'shared/form_errors', object: @crossword
  .xw-admin-form
    = form_with model: @crossword, url: url_for(controller: 'admin/crosswords', action: :update, id: @crossword.id), html: { class: 'xw-grid' } do |f|
      .xw-col-12.xw-lg-5
        .xw-field
          = f.label :title, class: 'xw-label'
          = f.text_field :title, class: 'xw-input'
      .xw-col-12.xw-lg-1
        .xw-field
          = f.label :rows, class: 'xw-label'
          = f.number_field :rows, class: 'xw-input'
      .xw-col-12.xw-lg-1
        .xw-field
          = f.label :cols, 'Columns', class: 'xw-label'
          = f.number_field :cols, class: 'xw-input'
      .xw-col-12.xw-lg-2
        .xw-field.xw-field--inline
          = f.check_box :circled, class: 'xw-checkbox'
          = f.label :circled, 'Contains Circles', class: 'xw-checkbox-label'
      .xw-col-12.xw-lg-3
        .xw-field
          = f.label :created_at, class: 'xw-label'
          = date_field :crossword, :created_at, class: 'xw-input'
      .xw-col-full
        .xw-field
          = f.label :description, class: 'xw-label'
          = f.text_area :description, class: 'xw-textarea'
      .xw-col-full
        .xw-field
          = f.label :letters, class: 'xw-label'
          = f.text_area :letters, maxlength: @crossword.rows * @crossword.cols, class: 'xw-textarea xw-textarea--uppercase'
      .xw-col-full
        = f.submit class: 'xw-btn xw-btn--success', data: {disable_with: 'Updating...'}
    = button_to 'Generate Preview', generate_preview_admin_crossword_path, method: :patch, class: 'xw-btn xw-btn--secondary', style: 'margin-top: var(--space-3)', data: { disable_with: 'Generating...' }
