= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: "Edit <i>#{@crossword.title}</i>".html_safe, custom_columns: true} do
  %br
  = form_for @crossword, url: url_for(controller: 'admin/crosswords', action: :update, id: @crossword.id), remote: true do |f|
    .large-6.columns
      = f.label :title
      = f.text_field :title
    .large-1.columns
      = f.label :rows
      = f.number_field :rows
    .large-1.columns
      = f.label :cols, 'Columns'
      = f.number_field :cols
    .large-2.columns
      = f.label :published
      = f.check_box :published
    .large-2.columns
      = f.label :circled, 'Contains Circles'
      = f.check_box :circled
    .large-12.columns
      = f.label :description
      = f.text_area :description
    .large-12.columns
      = f.label :letters
      = f.text_area :letters, maxlength: @crossword.rows * @crossword.cols, style: 'text-transform: uppercase;'
    .large-12.columns
      = f.submit class: 'button', data: {disable_with: 'Updating...'}