%table#crossword{:'data-rows' => @crossword.rows, :'data-cols' => @crossword.cols, :'data-auth-token' => form_authenticity_token}
  - for r in 1..@crossword.rows
    %tr{:'data-row' => r}
      - for c in 1..@crossword.cols
        - index = (r -1)*@crossword.cols + c - 1
        - letter = @crossword.letters[index]
        - unless letter == '_'
          %td.cell{:'data-row' => r, :'data-col' => c}
            .letter= @solution.letters[index]
            .cell_num
        -else
          %td.cell.void{:'data-row' => r, :'data-col' => c}
.clue_column
  %h6 Across
  %ol.clues#across
    - @clue_instances.where(:is_across => true).each do |ci|
      %li.clue.across_clue{:clue_num => ci.start_cell}
        = "#{ci.start_cell}. #{ci.clue.content}"
.clue_column
  %h6 Down
  %ol.clues#down
    - @clue_instances.where(:is_across => false).each do |ci|
      %li.clue.down_clue{:clue_num => ci.start_cell}
        = "#{ci.start_cell}. #{ci.clue.content}"