%table#crossword{:'data-id' => @crossword.id, :'data-rows' => @crossword.rows, :'data-cols' => @crossword.cols, :'data-auth-token' => form_authenticity_token}
  - for r in 1..@crossword.rows
    %tr{:'data-row' => r}
      - for c in 1..@crossword.cols
        - index = (r -1)*@crossword.cols + c - 1
        - letter = @crossword.letters[index]
        - unless letter == '_'
          %td.cell{:'data-row' => r, :'data-col' => c}
            = letter
            .cell_num
        -else
          %td.cell.void{:'data-row' => r, :'data-col' => c}
.clue_column
  Across
  %ol.clues
    - @crossword.across_start_cells.each do |across_start|
      %li.clue.across_clue{clue_num: ci.start_cell}
        = "#{ci.start_cell}. #{ci.clue.content}"
.clue_column
  Down
  %ol.clues
    - @crossword.down_start_cells.each do |down_start|
      %li.clue.down_clue{clue_num: ci.start_cell}
        = "#{ci.start_cell}. #{ci.clue.content}"