= javascript_include_tag 'edit'
= content_for :head do
  = stylesheet_link_tag :crossword
  = stylesheet_link_tag :edit
  = javascript_include_tag 'jquery-ui-1.10.4.draggable.min'

.row#credit-area
  .large-9.columns
    %h3.large
      .row
        .large-1.columns.smaller Title:
        .large-9.columns.end= text_field_tag 'title', @crossword.title
  .large-3.columns
    #puzzle-controls
      %span#save-status.smaller No changes yet
      %span#save-clock.smaller
      = link_to 'app.save_solution()', class: 'button tiny secondary rounded' do
        %i.fi-save


.row#solve-area
  .large-12.columns
    = render partial: 'crosswords/partials/edit_crossword'
.row#meta-area
  .large-12.columns
    %p
      = label_tag :description
      = text_area_tag :description, @crossword.description

-# NON-INLINE ELEMENTS

#idea-container
  = link_to('#ideas', class: 'side-button', id: 'ideas-button', remote: true) do
    %i.fi-list
    %span.small Ideas
  #ideas
    .row.row-topper
    .row
      = form_tag add_potential_word_crossword_path(@crossword), remote: true do
        = text_field_tag :word, nil, id: nil, autocomplete: 'off', placeholder: "Type a word you're considering"
    %ul
      - @potential_words.each do |word|
        = render partial: 'crosswords/partials/potential_word', locals: {word: word}

-# TODO MAKE OR DELETE THIS
-# %section#tools


%ol.joyride-list{data: {joyride: true}}
  %li{data: {id: 'credit-area', text: 'Next'}}
    %p Hello and welcome to the Joyride documentation page.


= link_to('#edit-settings', class: 'dark-shadow side-button', id: 'settings-button', remote: true) do
  %i.fi-widget


#edit-settings.reveal-modal{:'data-reveal' => true}
  %h3
    %i.fi-widget
    Edit Settings
  #settings
    
    %hr
    %input{type: 'checkbox'}
    %br
    %input{type: 'checkbox'}
    %br
    %input{type: 'checkbox'}
    %br
    %input{type: 'checkbox'}
    %br
    %input{type: 'checkbox'}
    %br
    %input{type: 'checkbox'}
    %br