=javascript_include_tag 'crosswords/edit'
= stylesheet_link_tag "crossword"

.row#credit_area
  .large-9.columns
    %h3.large
      .row
        .large-10.columns
          = text_field_tag 'title', @crossword.title
        .large-2.columns
          %span#creator_credit by Me
  .large-3.columns
    #puzzle_controls
      %span#save_status.smaller No changes yet
      %span#save_clock.smaller
      = link_to_function 'Save Solution', 'app.save_solution()', class: 'button tiny secondary rounded'


.row#solve_area
  .large-12.columns
    = render partial: 'edit_crossword'
.row#meta_area
  .large-12.columns
    %p
      = label_tag :description
      = text_area_tag :description, @crossword.description