= javascript_include_tag 'edit'
= stylesheet_link_tag "crossword"

.row#credit-area
  .large-9.columns
    %h3.large
      .row
        .large-10.columns
          = text_field_tag 'title', @crossword.title
        .large-2.columns
          %span#creator-credit by Me
  .large-3.columns
    #puzzle-controls
      %span#save-status.smaller No changes yet
      %span#save-clock.smaller
      = link_to_function 'Save Solution', 'app.save_solution()', class: 'button tiny secondary rounded'


.row#solve-area
  .large-12.columns
    = render partial: 'crosswords/partials/edit_crossword'
.row#meta-area
  .large-12.columns
    %p
      = label_tag :description
      = text_area_tag :description, @crossword.description