= content_for :head do
  = stylesheet_link_tag 'new_crossword'
= javascript_include_tag 'spin.min'
= javascript_include_tag 'crosswords/new'
.row.row-topper.row-bookend
  %h4
    New Puzzle
.row.spin-target
  .large-7.columns
    = render partial: 'crosswords/partials/new_form'
  .large-5.columns
    %fieldset#preview
      %legend
        Preview
      .row
        .large-12.columns
          = render partial: 'crosswords/partials/mini_pic_canvas2', locals: {rows: @crossword.rows, cols: @crossword.cols}
.row.row-stopper.row-bookend