= content_for :head do
  = stylesheet_link_tag 'new_crossword'
= javascript_include_tag 'spin.min'
= javascript_include_tag 'crosswords/new'

= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'New Crossword', row_class: 'spin-target', custom_columns: true} do
  .large-7.columns
    = render partial: 'crosswords/partials/new_form'
  .large-5.columns
    %fieldset#preview
      %legend
        Preview
      .row
        .large-12.columns
          #preview-crossword
            - Crossword::MAX_DIMENSION.times do |row|
              .preview-row
                - Crossword::MAX_DIMENSION.times do |col|
                  .preview-cell{data: {row: row+1, col: col+1}}