- if @team
  = javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js"
  :javascript
    var pusher = new Pusher("#{Pusher.key}");
    var channel = "#{@crossword.id}_#{@solution.key}";
    var username = null;
  - if @current_user
    :javascript
      username = "#{@current_user.first_name || @current_user.username}"


= javascript_include_tag 'solve'
= stylesheet_link_tag "crossword"

- if @team
  = javascript_include_tag 'crosswords/team_funcs'

- if @current_user && @solution.user_id == @current_user.id
  #myModal.reveal-modal
    %h2
      Crosswords: More Fun as a Team
      %i.fi-torsos-all
    %p.lead
      Solve puzzles with your friends in
      %strong real-time
      \-- just send them the link to this puzzle!
    %input.lead{value: request.original_url, style: 'margin-left: 2em; width: 40%; cursor: pointer', readonly: 'readonly', onclick: '$(this).select();'}
    %i.lead.fi-link{style: 'font-size: large; padding: 0.2em 0.3em;'}
    %p.lead
    %p Now to find some friends...
    %a.close-reveal-modal ×

:javascript
  solve_app.solution_id = "#{@solution.id if @solution}"

- if @current_user == @crossword.user
  .row.note
    %p.center
      You are the creator of this puzzle.
      -if !@crossword.published
        %br
        = link_to('Edit Puzzle', edit_crossword_path(@crossword))
        or
        = link_to('Publish Puzzle', publish_crossword_path(@crossword), confirm: "Are you sure you want to publish this puzzle?\nPublished puzzles cannot be edited or deleted.")

.row#credit-area
  .large-12.columns
    %h3
      = @crossword.title
      %span#creator-credit= "by #{ @crossword.user.present? ? @crossword.user.display_name : '[deleted]' }"
    #puzzle-controls
      %span#save-status.smaller No changes yet
      %span#save-clock.smaller
      %a#solve-save.button.tiny.secondary.rounded{href: '#', :'data-tooltip' => true, title: 'Save Solution'}
        %i.fi-save
      - puts @team
      - if @team
        %div.button.tiny.secondary.rounded
          %i.fi-torsos-all
          Team
          #teammates
      - else
        = link_to create_team_crossword_path(@crossword), method: 'post', class: 'button tiny secondary rounded', id: 'solve-share', 'data-tooltip' => true, title: 'Solve collaboratively' do
          %i.fi-torsos-all
          Team


.row#solve-area
  .large-12.columns
    = render partial: 'crosswords/partials/solve_crossword'
.row#meta-area
  .large-12.columns
    .row
      .large-2.columns
        = link_to @crossword.user do
          =image_tag(@crossword.user.image.creator_pic)
      .large-10.columns
        %p
          %em= @crossword.description
          = '--'
          = link_to @crossword.user.display_name, @crossword.user
    %hr
    %section#comments
      %h3 Comments
      / Feed Entry
      - @crossword.comments.each do |comment|
        .row
          .large-1.columns.small-3
            = link_to (image_tag comment.user.image.comment_size), comment.user
          .large-11.columns
            %p
              %strong
              = link_to "#{comment.user.display_name}: ", comment.user
              %br
              = comment.content
            %ul.inline-list
              %li
                %a{href: ""} Reply
              / %li
              /   %a{href: ""} Share
            %h6= pluralize(comment.replies.count, 'Reply')
            - comment.replies.each do |reply|
              .row
                .large-1.columns.small-3
                  = link_to (image_tag reply.user.image.reply_size), reply.user
                .large-11.columns
                  %p= reply.content
        / End Feed Entry
        %hr/