= javascript_include_tag 'solve'
= content_for :head do
  = stylesheet_link_tag "crossword"

- if @team
  = render partial: 'crosswords/partials/team'

:javascript
  solve_app.solution_id = #{@solution.try(:id)}
  solve_app.anonymous = #{@current_user.nil?}

- if @current_user == @crossword.user
  .alert-box{data: {alert: true}}
    %div.center
      You are the creator of this puzzle
      -if !@crossword.published
        %br
        = link_to('Edit Puzzle', edit_crossword_path(@crossword))
        or
        = link_to('Publish Puzzle', publish_crossword_path(@crossword), data: {confirm: 'Are you sure you want to publish this puzzle?\nPublished puzzles cannot be edited or deleted.'})
      %a.slide-close{href: "#"} &times;

-# Quick fix for sunday crosswords. TODO fix this.
- if @crossword.cols > 15
  :css
    #body > .row {
      max-width: none;
      width: 1250px;
    }
- if @crossword.rows > 15
  :css
    .clue-column .clues {
      max-height: 547px;
    }


.row#credit-area
  .large-12.columns
    %h3
      = @crossword.title.html_safe
      %span#creator-credit= "by #{ @crossword.user.present? ? @crossword.user.display_name : '[deleted]' }"
    #puzzle-controls
      - if @current_user
        %span#save-status.smaller No changes yet
      %span#save-clock.smaller
      - if @current_user
        %a#solve-save.button.tiny.secondary{href: '#', :'data-tooltip' => true, title: 'Quicksave'}
          %i.fi-save
        = link_to(favorite_crossword_path(@crossword), title: 'Favorite', :'data-tooltip' => true, class: "button tiny secondary#{(@current_user.favorites.include? @crossword) ? ' hidden' : ''}", method: :post, id: 'favorite', remote: true) do
          %i.fi-star>
        = link_to(unfavorite_crossword_path(@crossword), title: 'Unfavorite', :'data-tooltip' => true, class: "button tiny secondary#{(@current_user.favorites.include? @crossword) ? '' : ' hidden'}", method: :delete, id: 'unfavorite', remote: true) do
          %i.fi-star{style: 'color: #ff7878;'}>
      - if @team
        %div.button.tiny.secondary
          %i.fi-torsos-all
          Team
          #teammates
      - else
        = link_to create_team_crossword_path(@crossword), method: 'post', class: 'button tiny secondary rounded', id: 'solve-share', 'data-tooltip' => true, title: 'Solve collaboratively' do
          %i.fi-torsos-all
          Team


.row#solve-area
  .large-12.columns
    = render partial: 'crosswords/partials/solve_crossword'
.row#meta-area
  .large-12.columns
    .row
      .large-2.columns
        = link_to @crossword.user do
          = image_tag(@crossword.user.image.creator_pic, class: 'small-shadow thin-border')
      .large-10.columns
        %p
          %em= @crossword.description
          = '--'
          = link_to @crossword.user.display_name, @crossword.user
    %hr
    %section#comments
      %h3
        %i.fi-comments
        Comments
      / Feed Entry
      -if @current_user
        = form_tag(add_comment_path(@crossword), remote: true, id: 'comment-form') do
          = text_area_tag('content', nil, id: 'add-comment', placeholder: 'What did you think of this crossword?')
      -else
        =link_to 'Sign up', new_user_path
        or
        Log in
        to comment on this puzzle
      %hr
      - @crossword.comments.each do |comment|
        = render partial: 'comments/partials/comment', locals: {comment: comment}

= render partial: 'solutions/partials/win_modal'