- title @crossword.title, true
= javascript_include_tag 'solve'
= content_for :head do
  = stylesheet_link_tag "crossword"
  %meta{property: 'og:image', content: @crossword.preview.large.url}

- if @team
  = render partial: 'crosswords/partials/team'

:javascript
  solve_app.solution_id = #{@solution.try(:id)}
  solve_app.crossword_id = #{@crossword.try(:id)}
  solve_app.anonymous = #{@current_user.nil?}

- if (@current_user == @crossword.user)
  .alert-box.secondary{data: {alert: true}}
    .center
      You are the creator of this puzzle
      -if !@crossword.published
        %br
        = link_to('Edit Puzzle', edit_crossword_path(@crossword))
        or
        = link_to('Publish Puzzle', publish_crossword_path(@crossword), data: { turbo_confirm: 'Are you sure you want to publish this puzzle?\nPublished puzzles cannot be edited or deleted.' })
    %a.close{href: "#"} &times;

-# Quick fix for sunday crosswords. TODO fix this.
- if @crossword.cols > 15
  :css
    #body > .row {
      max-width: none;
      width: 1250px;
    }
:css
  .clue-column .clues {
    height: #{@crossword.rows*2.175-22/16.0}em;
  }

.row#credit-area
  .medium-12.columns
    %h3
      = @crossword.title.html_safe
      %span#creator-credit= "by #{ @crossword.user.present? ? @crossword.user.display_name : '[deleted]' }"
    #puzzle-controls.no-select
      - if @current_user
        %span#save-status.smaller No changes yet
      %span#save-clock.smaller
      - if @current_user
        %a#solve-save.button.tiny.secondary{href: '#', title: 'Quicksave', data: {tooltip: true}}
          %i.fi-save
        / Replaced: link_to with method: :post/:delete, remote: true → turbo_method (Turbo handles AJAX)
        / Wrapped in #favorites-toggle so favorite_unfavorite.turbo_stream.erb can replace both buttons together
        #favorites-toggle
          = link_to(favorite_crossword_path(@crossword), title: 'Favorite', :'data-tooltip' => true, class: "button tiny secondary#{(@current_user.favorites.include? @crossword) ? ' hidden' : ''}", id: 'favorite', data: { turbo_method: :post }) do
            %i.fi-star>
          = link_to(favorite_crossword_path(@crossword), title: 'Unfavorite', :'data-tooltip' => true, class: "button tiny secondary#{(@current_user.favorites.include? @crossword) ? '' : ' hidden'}", id: 'unfavorite', data: { turbo_method: :delete }) do
            %i.fi-star{style: 'color: #ff7878;'}>
        = link_to '#', id: 'controls-button', title: 'Controls', :'data-tooltip' => true, class: 'button tiny secondary' do
          %i.fi-widget
        / Replaced: link_to with method: :delete → turbo_method: :delete (Turbo handles DELETE)
        = link_to(delete_solution_path(@solution), class: 'button tiny secondary', data: { turbo_method: :delete, turbo_confirm: @current_user == @solution.user ? (@solution.team ? 'Are you SURE you want to delete this solution? You and the rest of your team will PERMANENTLY lose your work!' : 'Are you SURE you want to abandon your solution? You worked so hard on it!') : 'Are you SURE you want to leave this team solution?' }) do
          %i.fi-trash
      - if @team
        .button.tiny.secondary
          %i.fi-torsos-all
          #teammates
      - else
        / Replaced: link_to with method: 'post' → turbo_method (Turbo handles POST for non-GET links)
        = link_to create_team_crossword_path(@crossword), class: 'button tiny secondary rounded', id: 'solve-share', 'data-tooltip' => true, title: 'Solve collaboratively', data: { turbo_method: :post } do
          %i.fi-torsos-all
          Team


.row#solve-area
  .medium-12.columns
    = render partial: 'crosswords/partials/solve_crossword'
.row#meta-area
  .medium-12.columns
    #solve-controls
      -# %button.button.warning.small#show-incorrect
      -#   %i.fi-alert
      -#   Show Incorrect
      %a.button.split.small.success.check-completion{data: {unhighlight: 'false'}}
        %i.fi-check
          Check
        %span{data: {dropdown: 'drop'}}
      %br
      %ul#drop.f-dropdown{"data-dropdown-content": true}
        %li
          %a#check-cell{:href => "#"} Current Cell
        %li
          %a#check-word{:href => "#"} Current Word
        %li
          %a#check-puzzle{:href => "#"} Entire Puzzle
        %hr
        %li.check-completion
          %a{:href => "#"} Completion
  %hr
  .medium-12.columns
    .row
      .medium-2.columns
        = link_to @crossword.user do
          = image_tag(@crossword.user.image.creator_pic.url, class: 'small-shadow thin-border')
      .medium-10.columns
        %p
          %em= @crossword.description
          \--
          = link_to @crossword.user.display_name, @crossword.user
    %hr
    %section#comments
      %h3
        %i.fi-comments
        Comments
      / Feed Entry
      -if @current_user
        / Replaced: form_tag with remote: true → form_with (Turbo handles AJAX; id kept for add_comment.turbo_stream.erb target)
        = form_with(url: add_comment_path(@crossword), id: 'comment-form') do |f|
          = text_area_tag('content', nil, id: 'add-comment', placeholder: 'What did you think of this crossword?')
      -else
        =link_to 'Sign up', new_user_path
        or
        = link_to 'Log in', login_path
        to comment on this puzzle
      %hr
      - @crossword.comments.each do |comment|
        = render partial: 'comments/partials/comment', locals: {comment: comment}

= render partial: 'solutions/partials/win_modal'
= render partial: 'crosswords/partials/controls_modal'