= javascript_include_tag 'crosswords/solve'

.row
  .large-12.columns
    %h3= @crossword.title
    %h5
      by
      = @crossword.user.username

.row
  .large-12.columns#solve-area
    = render :partial => 'blank_crossword'
.row
  .large-12.columns
    %p
      %em= @crossword.description