= javascript_include_tag 'crosswords/solve'
= stylesheet_link_tag "crossword"
:javascript
  app.solution_id = "#{@solution.id if @solution}"

.row#credit_area
  .large-12.columns
    %h3
      = @crossword.title
      %span#creator_credit= "by #{ @crossword.user.present? ? @crossword.user.display_name : '[deleted]' }"
    #puzzle_controls
      %span#save_status.smaller No changes yet
      %span#save_clock.smaller
      = link_to_function 'Save Solution', 'app.save_solution()', class: 'button tiny secondary rounded'


.row#solve_area
  .large-12.columns
    = render :partial => 'blank_crossword'
.row#meta_area
  .large-12.columns
    .row
      .large-2.columns
        = image_tag @crossword.user.image
        %p= @crossword.user.display_name
      .large-10.columns
        %p
          %em= @crossword.description

    #comments
      %h3 Comments
      / Feed Entry
      - @crossword.comments.each do |comment|
        .row
          .large-2.columns.small-3
            = image_tag comment.user.image
          .large-10.columns
            %p
              %strong
              = "#{comment.user.display_name} said:"
              = comment.content
            %ul.inline-list
              %li
                %a{:href => ""} Reply
              %li
                %a{:href => ""} Share
            %h6 2 Comments
            .row
              .large-2.columns.small-3
                %img{:src => "http://placehold.it/50x50&text=[img]"}/
              .large-10.columns
                %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
            .row
              .large-2.columns.small-3
                %img{:src => "http://placehold.it/50x50&text=[img]"}/
              .large-10.columns
                %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
        / End Feed Entry
        %hr/