-# This page is only shown to users if they have worked on multiple solutions to the same crossword
.row.row-topper.row-bookend
  %h4 Choose a Solution
.row#solution-choice
  .large-5.columns
    = render partial: 'crosswords/partials/mini_pic_canvas', locals: {cw: @crossword, scale: 2.0}
    fhj gj hg jhg jhg hjgj hjg jh gjh ghj gjh gjh ghj gjh ghj gjh gjh ghj gjh gjh gjh ghj ghj ghj gjh gjh gjh gjh gjh gjh gjh gjh gj gjh gj gh gj ghjgh
  .large-7.columns
    -# The table of available solutions
    %table
      %thead
        %tr
          %th
            -# Blank column for Team status
          %th.center{colspan: 2} Correctness
          %th.center{colspan: 2} Completion
          %th Last Worked On
          %th Started
          %th Delete
      %tbody
        - @solutions.each do |solution|
          - solution_correctness = solution.percent_correct
          - solution_completion = solution.percent_complete
          %tr
            %td
              = link_to solution do
                -if solution.team
                  %i.fi-torsos-all
            %td
              = link_to solution do
                #{solution_correctness[:percent]}%
            %td
              = link_to solution do
                #{solution_correctness[:numerator]}/#{solution_correctness[:denominator]}
            %td
              = link_to solution do
                #{solution_completion[:percent]}%
            %td
              = link_to solution do
                #{solution_completion[:numerator]}/#{solution_completion[:denominator]}
            %td
              = link_to solution do
                #{distance_of_time_in_words_to_now(solution.updated_at, {include_seconds: true})} ago
            %td
              = link_to solution do
                #{distance_of_time_in_words_to_now(solution.created_at, {include_seconds: true})} ago
            %td
              = link_to(delete_solution_path(solution), method: :delete, confirm: 'Are you sure you want to delete this solution? You will permanently lose all work on this solution.') do
                %i.fi-trash

.row.row-stopper.row-bookend