- title 'Admin | Clues', true
= content_for :head do
  = stylesheet_link_tag :pagination
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Clues'} do
  = will_paginate @clues, class: 'smaller pagination'
  = render partial: 'clues/partials/clues'