%li.divider
%li.has-dropdown
  %a Admin
  %ul.dropdown
    %li.has-dropdown
      = link_to 'Indices', '#'
      %ul.dropdown
        %li= link_to 'Clues', admin_clues_path
        %li= link_to 'Comments', admin_comments_path
        %li= link_to 'Crosswords', admin_crosswords_path
        %li= link_to 'Users', admin_users_path
        %li= link_to 'Words', admin_words_path
    %li
      = link_to 'Emails', admin_email_path
    %li
      = link_to 'Clone User', admin_clone_user_path