%li.divider
%li
  %label Admin
%li.has-dropdown
  = link_to 'Users', admin_users_path
%li.has-dropdown
  = link_to 'Crosswords', admin_crosswords_path
%li.has-dropdown
  = link_to 'Clues', admin_clues_path
%li.has-dropdown
  = link_to 'Words', admin_words_path
%li.has-dropdown
  = link_to 'Comments', admin_comments_path