.xw-footer
  .xw-container
    .xw-footer__row
      %nav.xw-footer__links{aria: {label: 'Site information'}}
        = link_to 'About', about_path
        = link_to 'FAQ', faq_path
        = link_to 'Contact', contact_path
        = link_to 'Stats', stats_path
        = link_to 'Changelog', changelog_path
      %span.xw-footer__dot ·
      .xw-footer__social
        %a{href: 'https://www.facebook.com/pages/Crossword-Caf%C3%A9/522004927841403', target: '_blank', rel: 'noopener', aria: {label: 'Facebook'}}
          = icon('facebook', size: 14)
        %a{href: 'https://github.com/doshea/xword', target: '_blank', rel: 'noopener', aria: {label: 'GitHub'}}
          = icon('github', size: 14)
      %span.xw-footer__dot ·
      %span.xw-footer__copyright &copy; Dylan O'Shea
