- if @users.any?
  %p.xw-nav__live-results-label Users
  %ul
    - @users.each do |user|
      %li
        = link_to user do
          = user.display_name
- if @crosswords.any?
  -if @users.any?
    %hr
  %p.xw-nav__live-results-label Crosswords
  %ul
    - @crosswords.each do |crossword|
      %li
        = link_to crossword do
          = crossword.title
- if @words.any?
  -if @crosswords.any? or @users.any?
    %hr
  %p.xw-nav__live-results-label Words
  %ul
    - @words.each do |word|
      %li
        = link_to word do
          = word.content
