-# User account dropdown: avatar + username toggle → account, profile, logout.
-# Uses Stimulus dropdown controller. #user-menu and #profile-tease preserved for CSS compat.

.xw-nav__item{ data: { controller: 'dropdown' }, id: 'user-menu' }
  %button.xw-nav__user-btn{ type: 'button',
                             id: 'profile-tease',
                             data: { action: 'dropdown#toggle' } }
    = image_tag @current_user.image.thumb.url, class: 'profile-pic-updateable xw-nav__avatar'
    %span.xw-nav__username= @current_user.username
  .xw-nav__dropdown{ data: { dropdown_target: 'menu' } }
    = link_to account_users_path, class: 'xw-nav__dropdown-item' do
      %i.fi-torso
      Account
    = link_to @current_user, class: 'xw-nav__dropdown-item' do
      %i.fi-eye
      Public Profile
    = link_to logout_path, class: 'xw-nav__dropdown-item xw-nav__dropdown-item--danger',
              data: { turbo_method: :delete } do
      %i.fi-power
      Log out
