%li.has-dropdown#user-menu
  %a#profile-tease
    = image_tag @current_user.image.thumb, class: 'profile-pic-updateable'
    = @current_user.username
  %ul.dropdown
    %li.divider
      = link_to account_users_path do
        %i.fi-torso
        Account
    %li
      = link_to @current_user do
        %i.fi-eye
        Public Profile
    %li.divider
      / Replaced: link_to with method: 'delete' → turbo_method (Turbo handles DELETE for logout)
      = link_to logout_path, data: { turbo_method: :delete } do
        %i.fi-power
        Log out