%li.has-dropdown#user-menu
  %a#profile-tease
    = image_tag @current_user.image.thumb, class: 'profile-pic-updateable'
    = @current_user.username

  %ul.dropdown
    %li.divider
      = link_to 'Account', account_users_path
    %li
      = link_to 'Public Profile', @current_user
    %li.divider
      = link_to 'Log out', logout_path, method: 'delete'