- if @correctness
  - if @current_user
    = javascript_include_tag 'jquery.flightboard.min'
    - time_difference = time_difference_hash(@solution.updated_at, @solution.created_at)
    - day_s = '%03d' % time_difference[:days]
    - hour_s = '%02d' % time_difference[:hours]
    - minute_s = '%02d' % time_difference[:minutes]
    - second_s = '%02d' % time_difference[:seconds]
    - millisecond_s = '%03d' % time_difference[:milliseconds]
    - more_than_a_day = (time_difference[:days] > 0)
    - more_than_an_hour = (time_difference[:hours] > 0)
  %h2.win-modal__heading
    = icon('trophy')
    SOLVED!
    = icon('trophy')
  %p.win-modal__congrats
    Congratulations#{", #{@current_user.display_first_name}" if @current_user}!
  %p.win-modal__subtitle
    You completed
    %i #{@crossword.title}#{' in:' if @current_user}
  - if @current_user
    .win-modal__time
      - if more_than_a_day
        #days.win-clock__segment
        days, and
      .win-clock
        -if more_than_an_hour
          #hours.win-clock__segment
          %span.win-clock__separator :
        #minutes.win-clock__segment
        - unless more_than_a_day
          %span.win-clock__separator :
          #seconds.win-clock__segment
        - unless more_than_an_hour
          %span.win-clock__ms-dot .
          #milliseconds.win-clock__segment
    = render partial: 'solutions/partials/win_modal_js', locals: {day_s: day_s, hour_s: hour_s, minute_s: minute_s, second_s: second_s, millisecond_s: millisecond_s, more_than_a_day: more_than_a_day, more_than_an_hour: more_than_an_hour}
    - unless @current_user.comments.where(crossword_id: @solution.crossword.id).any?
      %hr
      = form_with(url: add_comment_path(@solution.crossword), id: 'complete-form') do |f|
        %h5.win-modal__prompt
          = icon('message-square')
          How was the crossword?
        = text_area_tag 'content', nil, class: 'xw-textarea', placeholder: Comment.random_wine_comment
        :javascript
          $('#complete-form').on('keypress', 'textarea', function(e){
            if(!e.metaKey){
              var key = e.which
              if(key == cw.ENTER){
                e.preventDefault();
                if(!$(this).val() == ''){
                  $(this).parent().submit();
                  $(this).val('');
                  var thank_you = $('<h3 class="win-modal__thanks">');
                  thank_you.text('Thank you!');
                  $(this).parent().after(thank_you);
                  $(this).parent().fadeOut(500, function(){
                    thank_you.fadeIn();
                  });
                }
              }
            }
          })
