= form_tag '/login', id: 'login', class: 'xw-grid' do
  = label_tag :username
  = text_field_tag :username, nil, :autofocus => true
  = label_tag :password
  = password_field_tag :password
  .xw-col-6
    = label_tag :remember_me, 'Remember me'
    = check_box_tag :remember_me, 1, params[:remember_me], checked: true
  .xw-col-6
    = button_tag 'Log in', class: 'button radius success'
  %br
.left
  = link_to 'Forgot your password?', forgot_password_users_path
  %br
  %hr