.row#dropdown-login
  .large-8.large-offset-2.columns
    = form_tag '/login' do
      = label_tag :username
      = text_field_tag :username, nil, autofocus: true
      = label_tag :password
      = password_field_tag :password
      = label_tag :remember_me
      = check_box_tag :remember_me, 1, params[:remember_me] #find out what the second two arguments do
      = button_tag 'Log in', class: 'button expand radius success', data: {disable_with: 'logging in...'}
  .large-2.columns