= form_tag '/login', id: 'login', data: { controller: 'form-validation' } do
  = hidden_field_tag :redirect, params[:redirect]
  .xw-field
    = label_tag :username, nil, class: 'xw-label'
    = text_field_tag :username, nil, autofocus: true, autocomplete: 'username', required: true, class: 'xw-input'
  .xw-field
    = label_tag :password, nil, class: 'xw-label'
    = password_field_tag :password, nil, autocomplete: 'current-password', required: true, class: 'xw-input'
  .xw-grid
    .xw-col-6
      = label_tag :remember_me, 'Remember me'
      = check_box_tag :remember_me, 1, true
    .xw-col-6
      = button_tag 'Log in', class: 'xw-btn xw-btn--success', data: { disable_with: "Logging in\u2026" }
= link_to 'Forgot your password?', forgot_password_users_path
%hr
