%li.divider
%li
  %label Admin
%li.has-dropdown
  = link_to 'Users', users_path
%li.has-dropdown
  = link_to 'Crosswords', crosswords_path
%li.has-dropdown
  = link_to 'Clues', clues_path
%li.has-dropdown
  = link_to 'Words', words_path
%li.has-dropdown
  = link_to 'Clue Instances', clue_instances_path
%li.has-dropdown
  = link_to 'Comments', comments_path