!!!
%html
  %head
    = render partial: 'layouts/partials/meta_tags'
    = render partial: 'layouts/partials/knowledge_graph'
    = action_cable_meta_tag
    %link{rel: 'preconnect', href: 'https://fonts.googleapis.com'}
    %link{rel: 'preconnect', href: 'https://fonts.gstatic.com', crossorigin: true}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css2?family=Courier+Prime&family=DM+Sans:wght@400;500;600&family=Lora:wght@400;600&family=Playfair+Display:wght@400;600;700&display=swap'}
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %title
      = yield(:title) + title_backup

    = yield :head
    = csrf_meta_tags
  %body
    = link_to 'Skip to main content', '#body', class: 'skip-to-content'
    %header#nav= render partial: 'layouts/partials/nav'
    %main#body= render partial: 'layouts/partials/body'
    %footer#footer= render partial: 'layouts/partials/footer'