!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width", name: "viewport"}/
    %meta{name: 'author', content: "Dylan O'Shea"}
    %meta{name: 'keywords', content: "crossword, crosswords, cafe, café, crossword-café, crossword-cafe, crosswordcafe, crosswordcafé, puzzles, crossword puzzles, crossword puzzle, NYT crossword, New York Times crossword"}
    %meta{name: 'description', content: @meta || "Grab a mug, take a seat, and solve the latest crosswords with your friends. In real-time. Welcome to Crossword Café."}
    %title Crossword Café
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    / Google Analytics tracking
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46607276-1']);
      _gaq.push(['_setDomainName', 'crossword-cafe.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = csrf_meta_tags
  %body
    = javascript_include_tag 'foundation5/foundation.min'
    = javascript_include_tag 'foundation5/modernizr'
    = gflash
    %header#nav.dark-shadow= render partial: 'layouts/partials/nav'
    #body= render partial: 'layouts/partials/body'
    %footer#footer= render partial: 'layouts/partials/footer'
