!!!
%html
  %head
    = render partial: 'layouts/partials/meta_tags'
    = render partial: 'layouts/partials/knowledge_graph'
    = javascript_include_tag 'social/fb'
    %title Crossword Caf&eacute; | Welcome
    = stylesheet_link_tag    "application", media: "all"
    = stylesheet_link_tag    "welcome"
    = javascript_include_tag "application"
    = javascript_include_tag "welcome"
    = render partial: 'layouts/partials/ga_tracking'
    = csrf_meta_tags
  %body
    #body
      = yield
      = render partial: 'layouts/partials/chalkboard'
    %footer#footer
      = render partial: 'layouts/partials/footer'