= render layout: 'layouts/partials/topper_stopper', locals: {columns_class: 'center'} do
  %h1= @clue.content
  %hr
  %h5 Featured #{pluralize(@count, 'time')} in #{pluralize(@crosswords.length, 'puzzle')}:
  - @crosswords.each do |crossword|
    = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}